@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #050507;
    color: #f4f4f5;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #09090d;
}

::-webkit-scrollbar-thumb {
  background: #272730;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccff00;
}
